* {
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

    .menu a {
        text-transform: capitalize;       
        background-color:  darkslategray;
        color: wheat;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 7px;
        display: block;
        width: 100%;
    }

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}

.wa {
    background-color: mediumseagreen;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

#container {
    color: #999;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    bottom: 45%;
    display: block;
}

#flip {
    height: 50px;
    overflow: hidden;
}

    #flip > div > div {
        color: #fff;
        padding: 4px 12px;
        height: 45px;
        margin-bottom: 50px;
        display: inline-block;
    }

    #flip div:first-child {
        animation: show 5s linear infinite;
    }

    #flip div div {
        background: #42c58a;
    }

    #flip div:first-child div {
        background: #4ec7f3;
    }

    #flip div:last-child div {
        background: #DC143C;
    }

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}
